<h1>SIGNUP</h1>
<form action="/apiDB/users/signup" method="post" class="signup-form">
    First Name: <input type="text" name="first_name" id="first_name">
    Last Name: <input type="text" name="last_name" id="last_name">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="SIGNUP">
</form>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{{#if errorMessage}}
    <div id="error-message" data-message="{{errorMessage}}"></div>
{{/if}}
<script src="/js/toastify-script.js"></script>