<h1>Cart products</h1>

<ul >
  {{#each products}}
    <li class="list-cart">
        <span> <b>{{this.name}}</b> </span>
        - <span> Quantity:{{this.quantity}} </span>
    </li>
  {{/each}}
</ul>

<a href="/products" class="back-link">Volver</a>

{{#unless products.length}}
  <h2>The cart is empty!</h2>
{{/unless}}