<div>
    <h2>Add product</h2>
    <form id="productForm">
        Title: <input type="text" name="title" id="title">
        Description: <input type="text" name="description" id="description">
        Price: <input type="number" name="price" id="price">
        <input type="submit" value="Create">
        
    </form>

    <h2>Delete product</h2>
    <form id="productForm2">
        Id to Delete: <input type="text" name="idToDelete" id="idToDelete">
        <input type="submit" value="Delete">

    </form>
</div>

<div>
    <h2></h2>
</div>




<table id="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Descriptions</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>